############################################
# Dependencies
############################################
node_modules/
.pnpm-store/

############################################
# Build / Output
############################################
dist/
build/
.out/
coverage/

############################################
# Environment variables
############################################
.env
.env.local
.env.*.local

############################################
# Logs
############################################
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

############################################
# Cache
############################################
.cache/
.temp/
.tmp/

############################################
# Vite / Vue
############################################
.vite/

############################################
# Editor / IDE
############################################
.vscode/
.idea/
*.swp

#########################
