services:
  postgres:
    image: postgres:16
    container_name: postgres-dev
    env_file:
      - postgres.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
